
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nba-prop-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
    environment:
      - PYTHONPATH=/app/backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: nba-prop-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - NODE_ENV=development
    volumes:
      # changes reflect live
      - ./frontend:/app
      # Prevent overwriting node_modules in container
      - /app/node_modules